<!-- Horizontal Form -->
 <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">添加员工信息</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">
          <div class="form-group">
            <label for="employeeName" class="col-sm-2 control-label">员工姓名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="employeeName">
            </div>
          </div>
          <div class="form-group" id="pwdDiv">
            <label for="employeeAge" class="col-sm-2 control-label">员工年龄</label>

            <div class="col-sm-10">
              <input type="text" class="form-control"  id="employeeAge">
            </div>
          </div>
          
          <div class="form-group">
            <label for="employeePosition" class="col-sm-2 control-label">员工职位</label>
            <div class="col-sm-10">
              <input type="text" class="form-control load-sys-dept" id="employeePosition">
            </div>
          </div>

          <div class="form-group">
            <label for="employeePhone" class="col-sm-2 control-label">手机号</label>
              <div class="col-sm-10">
              <input type="text" class="form-control"  id="employeePhone">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-default btn-cancel">Cancel</button>
          <button type="button" class="btn btn-info pull-right btn-save">Save</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>

<script type="text/javascript">

 $(document).ready(function(){
	 //页面加载完成以后加载角色信息并初始化页面
	  doLoadRoles();
	 //事件注册
	 $(".box-footer")
	 .on("click",".btn-cancel",doCancel)
	 .on("click",".btn-save",doSaveOrUpdate);

 });

 function doCancel(){
	$("#mainContentId").removeData("rowData");
	$("#mainContentId").load("employee/doEmployeeListUI");
 }
 function doSaveOrUpdate(){
	 var rowData=$("#mainContentId").data("rowData");
	 //1.获取表单数据
	 var params=doGetEditFormData();
	 if(rowData)params.employeeId=rowData.employee.employeeId;
	 //2.发起异步请求
	 var insertUrl="employee/doSaveObject";
	 var updateUrl="employee/doUpdateObject";
	 var url=rowData?updateUrl:insertUrl;
	 console.log(params);
	 $.post(url,params,function(result){
		 
		 if(result.state==1){
			 alert(result.message);
			 doCancel();
		 }else{
			alert(result.message);
		 }
	 })
 }
 function doGetEditFormData(){
	 //获取用户输入的数据
	 var params={
        employeeName:$("#employeeName").val(),
        employeeAge:$("#employeeAge").val(),
        employeePosition:$("#employeePosition").val(),
        employeePhone:$("#employeePhone").val()

	 }
	 return params;
 }
 function doLoadRoles(){
     doInitFormData();
 }
 function doInitFormData(){
     var data=$("#mainContentId").data("rowData");
     if(!data)return;
	 console.log(data);
	 //初始化员工信息
	 $("#employeeName").val(data.employee.employeeName);
	 $("#deptId").val(data.employee.sysDept?data.employee.sysDept.name:'');
	 $("#deptId").data("deptId",data.employee.sysDept?data.employee.sysDept.id:'');
	 $("#employeeAge").val(data.employee.employeeAge);
     $("#employeePosition").val(data.employee.employeePosition);
	 $("#employeePhone").val(data.employee.employeePhone);
 }
</script>
    
    
    
    
    
    
    