<!-- Horizontal Form -->
 <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">添加客房信息</h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <form class="form-horizontal">
        <div class="box-body">

          <div class="form-group">
            <label for="hotelNum" class="col-sm-2 control-label">编号</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="hotelNum" id="hotelNum" placeholder="编号">
            </div>
          </div>

          <div class="form-group">
            <label for="hotelType" class="col-sm-2 control-label">类型</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="hotelType" id="hotelType" placeholder="类型">
            </div>
          </div>

            <div class="form-group">
                <label for="price" class="col-sm-2 control-label">价格</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="price" id="price" placeholder="价格">
                </div>
            </div>

            <div class="form-group">
                <label for="square" class="col-sm-2 control-label">面积</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="square" id="square" placeholder="面积">
                </div>
            </div>

          <div class="form-group">
                <label for="hotelLocation" class="col-sm-2 control-label">位置</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="hotelLocation" id="hotelLocation" placeholder="位置">
                </div>
          </div>

          <div class="form-group">
                <label for="status" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="status" id="status" placeholder="状态">
                </div>
          </div>

            <div class="form-group">
                <label for="occupyFlag" class="col-sm-2 control-label">是否预订</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="occupyFlag" id="occupyFlag" placeholder="是否预订">
                </div>
            </div>

            <div class="form-group">
                <label for="visitorNum" class="col-sm-2 control-label">旅客人数</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="visitorNum" id="visitorNum" placeholder="旅客人数">
                </div>
            </div>

            <div class="form-group">
                <label for="title" class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" id="title" placeholder="标题">
                </div>
            </div>

            <div class="form-group">
                <label for="topic" class="col-sm-2 control-label">主题</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="topic" id="topic" placeholder="主题">
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          <button type="button" class="btn btn-default btn-cancel">Cancel</button>
          <button type="button" class="btn btn-info pull-right btn-save">Save</button>
        </div>
        <!-- /.box-footer -->
      </form>
    </div>

    <script type="text/javascript">

    $(function(){
    	doLoadSysRoom();
    	$(".box-footer")
    	.on("click",".btn-save",doSaveOrUpdate)
    	.on("click",".btn-cancel",doCancel);
    	
    });

    function doCancel(){
    	var url="room/doRoomListUI";
    	$("#mainContentId")
    	.load(url,function(){
    	  $("#mainContentId").removeData();
    	});
    }
    
    function doSaveOrUpdate(){
    	//1.参数(表单数据)
    	var params=doGetEditFormData();
    	if(!params.hotelType.trim()){
    		alert(" 客房类型不能为空");
    		return;
    	}
    	var data=$("#mainContentId").data("data");
    	if(data)params.hotelId=data.hotelId;
    	//2.url
    	var insertUrl="room/doSaveObject";
    	var updateUrl="room/doUpdateObject";
    	var url=data?updateUrl:insertUrl;
    	//3.ajax request
    	$.post(url,params,function(result){
    		if(result.state==1){
    		   alert(result.message);
    		   doCancel();
    		}else{
    		   alert(result.message);
    		}
    	})
    }
    function doGetEditFormData(){
    	//1.获取角色自身信息
    	var params={
            hotelNum:$("#hotelNum").val(),
            hotelType:$("#hotelType").val(),
            price:$("#price").val(),
            square:$("#square").val(),
            hotelLocation:$("#hotelLocation").val(),
            status:$("#status").val(),
            occupyFlag:$("#occupyFlag").val(),
            visitorNum:$("#visitorNum").val(),
            title:$("#title").val(),
            topic:$("#topic").val()
    	}
    	return params;
    }
    function doLoadSysRoom(){
        doInitEditFormData();
}
    function doInitEditFormData(){
        var data=$("#mainContentId").data("data");
        console.log(data);
        if(!data)return;
        console.log(data);
        $("#hotelNum").val(data.hotelNum);
        $("#hotelType").val(data.hotelType);
        $("#price").val(data.price);
        $("#square").val(data.square);
        $("#hotelLocation").val(data.hotelLocation);
        $("#status").val(data.status);
        $("#occupyFlag").val(data.occupyFlag);
        $("#visitorNum").val(data.visitorNum);
        $("#title").val(data.title);
        $("#topic").val(data.topic);
    }
</script>
    
    
    
    
    
    
    
    