<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.LoginDao">

    <select id="findPassWordByUserName"
            resultType="String">
         select password from visitor
        where username=#{username}
    </select>

    <select id="findNumByUsername"
            resultType="int">
         select count(*) from visitor
        where username=#{username}
    </select>

    <insert id="insertUsername" parameterType="com.cy.pj.sys.entity.VisitorEntity">
        insert into visitor
        (username,password,createTime,updateTime)
        values
    (#{username},#{password}
    ,now(),now())
    </insert>

</mapper>
