<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.pj.sys.dao.LoginDao">

    <select id="findPassWordByUserName"
            resultType="String">
         select password from vip_info
        where ACCOUNT=#{username}
    </select>

    <select id="findNumByUsername"
            resultType="int">
         select count(*) from vip_info
        where ACCOUNT=#{username}
    </select>

    <insert id="insertUsername" parameterType="com.cy.pj.sys.entity.Vip">
        insert into vip_info
        (ACCOUNT,PASSWORD,CREATE_TIME,MODIFIED_TIME)
        values
    (#{account},#{password}
    ,now(),now())
    </insert>

</mapper>
