<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>注册</title>    <meta name="baidu-site-verification" content="e8abd676df9f995bc969ac138b1c0f4d"/>
    <meta name="sogou_site_verification" content="7rtgKfBjbl"/>
    <meta name="360-site-verification" content="f7b8b308108b2c1c2de2825948822256" />
    <meta name="google-site-verification" content="drkSj5A3WGSgkMXwzh6UfezwLEMsEXoQlMHL25oE1kA" />
    <meta baidu-gxt-verify-token="9e7961d9a5d01603e5c2ae9bccffb9c2"/>
    <meta name="shenma-site-verification" content="da9c53da88979ec98afae25b1ca3e43b" />
    <link rel="stylesheet" rev="stylesheet" href="https://include.anjukestatic.com/anjuke-member/res/20200415.6956.0/b/Member_Web_Login_Form.css" type="text/css" />


    <link rel="shortcut icon" href="https://pages.anjukestatic.com/usersite/site/img/global/1/favicon.ico" type="image/ico" />
    <link rel="icon" href="https://pages.anjukestatic.com/usersite/site/img/global/1/favicon.ico" type="image/ico" />
    <!-- 熊掌号所需参数 -->
</head>
<body>
<script type="text/javascript" src="https://pages.anjukestatic.com/usersite/ie/IE886SDK_20200221.js"></script>
<script>
    var IE886config = {};
    IE886SDK(IE886config);
</script>
<div class="user-nav">
<!--    <a class="logo-link" href="http://anjuke.com"><i class='ajk-icon user-iconfont'>&#xe600;</i></a>-->
    <a style="display: none" href="" class="user-register"><i class='broker-icon user-iconfont'>&#xe604;</i><span class="register-txt">经纪人注册</span></a>
</div>
<div class="content" id="content">
    <div class="login-wrap">
        <div class="iframe-layer-mask not-in-layer   " id="iframeLoginMask">
            <div class="iframe-layer-bg"></div>
            <div class="iframe-login-wrap" id="iframeLoginWrap">
                <!-- loading -->
                <div class="loading-wrap none" id="loadingwrap">
                    <div class="loading-item">
                        <!--[if IE]> <div class="spinner-wrap"> <![endif]--> <div class="spinner"> <div class="spinner-container container1"> <div class="circle1"></div> <div class="circle2"></div> <div class="circle3"></div> <div class="circle4"></div> </div> <div class="spinner-container container2"> <div class="circle1"></div> <div class="circle2"></div> <div class="circle3"></div> <div class="circle4"></div> </div> <div class="spinner-container container3"> <div class="circle1"></div> <div class="circle2"></div> <div class="circle3"></div> <div class="circle4"></div> </div> </div> <!--[if IE]> </div> <![endif]-->
                    </div>
                    <p class="loading-tip">正在加载中，请稍后...</p>
                </div> <!-- loading end -->
                <iframe class="iframe-login-ifm " id="iframeLoginIfm" src="zhucepages.html" frameborder="0" scrolling="no"></iframe>

            </div>
        </div>
    </div>
</div>


<div id="footer" class="footer">
    <ul class="links">
        <li>
            <a rel="nofollow" href="https://kfzx.anjuke.com/faqList/defaultQue?faqKinds=2">关于我们</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" href="https://kfzx.anjuke.com/faqDetail/queryDetail?faqId=95&faqTypeId=11">联系我们</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" href="https://kfzx.anjuke.com/faqDetail/queryDetail?faqId=104&faqTypeId=10">用户协议</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="loan_link">房贷计算器</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="seo_qa">最新问答</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="map_link">网站地图</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="house_link">最新房源</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a href="javascript:void(0);" data-target="other_city">其它城市</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" href="https://nanjing.anjuke.com/friendlink">友情链接</a>
            <em class="spe-lines">|</em>
        </li>
        <li>
            <a rel="nofollow" target="_blank" href="http://www.zx110.org/cxs/index.html">放心搜</a>
            <em class='spe-lines'>|</em>
        </li>
        <li>
            <a rel='nofollow' target='_blank' href="https://about.anjuke.com/chanpin/?from=home_foot_tgy">推广服务</a>
            <em class='spe-lines'>|</em>
        </li>
        <li>
            <a rel="nofollow" target="_blank" href="https://biz.anjuke.com/biz/index">渠道招商</a>
            <em class='spe-lines'>|</em>
        </li>
        <li>
            <a rel="nofollow" target="_blank" href="https://www.58che.com/">58车</a>
        </li>
    </ul>

    <div id="loan_link" class="show-mod loan-link">
        <ul>
            <li><a href="https://www.anjuke.com/calculator/loan" target="_blank">房贷计算器</a></li>
            <li><a href="https://www.anjuke.com/calculator/return" target="_blank">提前还款计算器</a></li>
            <li><a href="https://www.anjuke.com/calculator/qualify" target="_blank">购房能力评估计算器</a></li>
            <li><a href="https://www.anjuke.com/calculator/personal" target="_blank">公积金贷款计算器</a></li>
        </ul>
    </div>

    <div id="seo_qa" class="show-mod map-link">
        <ul>
            <li><a href="https://www.anjuke.com/qa/" target="_blank">按时间查找房产问答</a></li>
            <li><a href="https://nanjing.anjuke.com/wenti/" target="_blank">按城市查找南京房产问答</a></li>
            <li><a href="https://m.anjuke.com/qa/suoyin/" target="_blank">手机版按时间查找房产问题</a></li>
            <li><a href="https://m.anjuke.com/nj/wenti/" target="_blank">手机版按城市查找南京房产问答</a></li>
        </ul>
    </div>

    <div id="map_link" class="show-mod map-link">
        <ul>
            <li><a href="https://nanjing.anjuke.com/sitemap/" target="_blank">二手房地图</a></li>
            <li><a href="https://m.anjuke.com/nj/sitemap/" target="_blank">手机版二手房地图</a></li>
            <li><a href="https://nj.fang.anjuke.com/fangsitemap/A/" target="_blank">新房楼盘大全</a></li>
            <li><a href="https://m.anjuke.com/nj/xinfang/sitemap/" target="_blank">手机版新房地图</a></li>
            <li><a href="https://nj.fang.anjuke.com/fangsitemap/" target="_blank">新房地图</a></li>
            <li><a href="https://www.anjuke.com/nanjing/cm/" target="_blank">二手房小区大全</a></li>
            <li><a href="https://www.anjuke.com/nanjing/cm-zu/" target="_blank">租房小区大全</a></li>
            <li><a href="https://m.anjuke.com/nj/xiaoqu/" target="_blank">手机版小区大全</a></li>
            <li><a href="https://mobile.anjuke.com/esf/nj-cm/" target="_blank">南京小区</a></li>
            <li><a href="https://nanjing.gongjijin.anjuke.com/" target="_blank">南京公积金</a></li>
            <li><a href="https://nanjing.anjuke.com" target="_blank">南京房产网</a></li>
            <li><a href="https://nj.fang.anjuke.com" target="_blank">南京新房</a></li>
            <li><a href="https://nanjing.anjuke.com/sale/" target="_blank">南京二手房</a></li>
            <li><a href="https://nj.zu.anjuke.com" target="_blank">南京租房</a></li>
            <li><a href="https://nanjing.anjuke.com/market/" target="_blank">南京房价</a></li>
            <li><a href="https://nanjing.anjuke.com/bieshu-sale/" target="_blank">南京别墅出售</a></li>
            <li><a href="https://nanjing.anjuke.com/gongyu-sale/" target="_blank">南京公寓出售</a></li>
            <li><a href="https://nj.zu.anjuke.com/gongyu-zufang/" target="_blank">南京公寓出租</a></li>
            <li><a href="https://nj.zu.anjuke.com/hezu-zufang/" target="_blank">南京合租房</a></li>
            <li><a href="https://nj.zu.anjuke.com/geren-zufang/" target="_blank">南京个人租房</a></li>
            <li><a href="https://nj.zu.anjuke.com/bieshu-zufang/" target="_blank">南京别墅出租</a></li>
            <li><a href="https://m.anjuke.com/nj" target="_blank">南京房产网</a></li>
            <li><a href="https://m.anjuke.com/nj/sale/" target="_blank">南京二手房</a></li>
            <li><a href="https://m.anjuke.com/nj/rent/" target="_blank">南京租房</a></li>
            <li><a href="https://m.anjuke.com/nj/trendency/" target="_blank">南京房价</a></li>
            <li><a href="https://m.anjuke.com/nj/qa/" target="_blank">南京问答</a></li>
        </ul>
    </div>

    <div id="house_link" class="show-mod house-link">
        <ul>
            <li><a href="https://nanjing.anjuke.com/fang/" target="_blank">二手房</a></li>
            <li><a href="https://nj.zu.anjuke.com/fang/" target="_blank">租房</a></li>
            <li><a href="https://nj.sp.anjuke.com/fang_shou/" target="_blank">商铺出售</a></li>
            <li><a href="https://nj.sp.anjuke.com/fang_zu/" target="_blank">商铺出租</a></li>
            <li><a href="https://nj.sydc.anjuke.com/fang_shou/" target="_blank">写字楼出售</a></li>
            <li><a href="https://nj.sydc.anjuke.com/fang_zu/" target="_blank">写字楼出租</a></li>
            <li><a href="https://m.anjuke.com/nj/propsitemap/esf/" target="_blank">手机版二手房</a></li>
            <li><a href="https://m.anjuke.com/nj/propsitemap/zf/" target="_blank">手机版租房</a></li>
            <li><a href="https://nj.fang.anjuke.com/fang/" target="_blank">新房</a></li>
        </ul>
    </div>

    <div id="other_city" class="show-mod other-city">
        <ul>
            <li><a href="https://shanghai.anjuke.com">上海房产网</a></li>
            <li><a href="https://shanghai.anjuke.com/sale/">上海二手房</a></li>
            <li><a href="https://guangzhou.anjuke.com">广州房产网</a></li>
            <li><a href="https://guangzhou.anjuke.com/sale/">广州二手房</a></li>
            <li><a href="https://shenzhen.anjuke.com">深圳房产网</a></li>
            <li><a href="https://shenzhen.anjuke.com/sale/">深圳二手房</a></li>
            <li><a href="https://beijing.anjuke.com">北京房产网</a></li>
            <li><a href="https://beijing.anjuke.com/sale/">北京二手房</a></li>
            <li><a href="https://chengdu.anjuke.com">成都房产网</a></li>
            <li><a href="https://chengdu.anjuke.com/sale/">成都二手房</a></li>
            <li><a href="https://nanjing.anjuke.com">南京房产网</a></li>
            <li><a href="https://nanjing.anjuke.com/sale/">南京二手房</a></li>
            <li><a href="https://tianjin.anjuke.com">天津房产网</a></li>
            <li><a href="https://tianjin.anjuke.com/sale/">天津二手房</a></li>
            <li><a href="https://hangzhou.anjuke.com">杭州房产网</a></li>
            <li><a href="https://hangzhou.anjuke.com/sale/">杭州二手房</a></li>
            <li><a href="https://suzhou.anjuke.com">苏州房产网</a></li>
            <li><a href="https://suzhou.anjuke.com/sale/">苏州二手房</a></li>
            <li><a href="https://chongqing.anjuke.com">重庆房产网</a></li>
            <li><a href="https://chongqing.anjuke.com/sale/">重庆二手房</a></li>
            <li><a href="https://m.anjuke.com/sy/sale/">三亚二手房</a></li>
            <li><a href="https://m.anjuke.com/xm/sale/">厦门二手房</a></li>
            <li><a href="https://m.anjuke.com/zh/sale/">珠海二手房</a></li>
            <li><a href="https://m.anjuke.com/hui/sale/">惠州二手房</a></li>
            <li><a href="https://m.anjuke.com/sh/sale/">上海二手房</a></li>
            <li><a href="https://m.anjuke.com/sz/sale/">深圳二手房</a></li>
            <li><a href="https://m.anjuke.com/hai/sale/">海口二手房</a></li>
            <li><a href="https://m.anjuke.com/bj/sale/">北京二手房</a></li>
            <li><a href="https://m.anjuke.com/sjz/sale/">石家庄二手房</a></li>
            <li><a href="https://m.anjuke.com/hz/sale/">杭州二手房</a></li>
            <li><a href="https://m.anjuke.com/gz/sale/">广州二手房</a></li>
            <li><a href="https://m.anjuke.com/su/sale/">苏州二手房</a></li>
            <li><a href="https://m.anjuke.com/nj/sale/">南京二手房</a></li>
            <li><a href="https://m.anjuke.com/tj/sale/">天津二手房</a></li>
            <li><a href="https://m.anjuke.com/ks/sale/">昆山二手房</a></li>
            <li><a href="https://m.anjuke.com/dg/sale/">东莞二手房</a></li>
            <li><a href="https://m.anjuke.com/cc/sale/">长春二手房</a></li>
            <li><a href="https://m.anjuke.com/zz/sale/">郑州二手房</a></li>
            <li><a href="https://m.anjuke.com/heb/sale/">哈尔滨二手房</a></li>
            <li><a href="https://m.anjuke.com/ty/sale/">太原二手房</a></li>
            <li><a href="https://m.anjuke.com/dl/sale/">大连二手房</a></li>
            <li><a href="https://m.anjuke.com/nn/sale/">南宁二手房</a></li>
            <li><a href="https://m.anjuke.com/hf/sale/">合肥二手房</a></li>
            <li><a href="https://m.anjuke.com/fz/sale/">福州二手房</a></li>
            <li><a href="https://m.anjuke.com/qd/sale/">青岛二手房</a></li>
            <li><a href="https://m.anjuke.com/jn/sale/">济南二手房</a></li>
            <li><a href="https://m.anjuke.com/km/sale/">昆明二手房</a></li>
            <li><a href="https://m.anjuke.com/wh/sale/">武汉二手房</a></li>
            <li><a href="https://m.anjuke.com/cs/sale/">长沙二手房</a></li>
            <li><a href="https://m.anjuke.com/cq/sale/">重庆二手房</a></li>
            <li><a href="https://m.anjuke.com/shen/sale/">沈阳二手房</a></li>
            <li><a href="https://m.anjuke.com/xa/sale/">西安二手房</a></li>
            <li><a href="https://m.anjuke.com/fs/sale/">佛山二手房</a></li>
            <li><a href="https://m.anjuke.com/nc/sale/">南昌二手房</a></li>
            <li><a href="https://m.anjuke.com/wx/sale/">无锡二手房</a></li>
            <li><a href="https://m.anjuke.com/cd/sale/">成都二手房</a></li>
            <li><a href="https://beijing.gongjijin.anjuke.com/">北京公积金</a></li>
            <li><a href="https://chengdu.gongjijin.anjuke.com/">成都公积金</a></li>
            <li><a href="https://guangzhou.gongjijin.anjuke.com/">广州公积金</a></li>
            <li><a href="https://hangzhou.gongjijin.anjuke.com/">杭州公积金</a></li>
            <li><a href="https://nanjing.gongjijin.anjuke.com/">南京公积金</a></li>
            <li><a href="https://shanghai.gongjijin.anjuke.com/">上海公积金</a></li>
            <li><a href="https://shenzhen.gongjijin.anjuke.com/">深圳公积金</a></li>
            <li><a href="https://suzhou.gongjijin.anjuke.com/">苏州公积金</a></li>
            <li><a href="https://tianjin.gongjijin.anjuke.com/">天津公积金</a></li>
            <li><a href="https://chongqing.gongjijin.anjuke.com/">重庆公积金</a></li>
        </ul>
    </div>

    <div class="cp-mod">
        <a rel="nofollow" href="https://kfzx.anjuke.com/" target="_blank">客户服务中心</a>&ensp;&ensp;&ensp;
        违法信息举报：&ensp;4006209008&ensp;<a href="mailto:yinsibaohu@58.com" target="_blank" rel="nofollow">yinsibaohu@58.com</a>&ensp;&ensp;&ensp;
        Copyright&nbsp;&copy;&nbsp;2007-2020&ensp;www.anjuke.com&ensp;All Rights Reserved&ensp;&ensp;&ensp;<a href="https://www.anjuke.com/sitemap-miibeian" rel="nofollow">ICP号：沪&ensp;B2-20090008</a>
    </div>


</div>
<!-- 侧边栏 -->


<script type="text/javascript" crossorigin src="/anjuke/jquery-underscore.min.js"></script>
<script type="text/javascript" crossorigin src="/anjuke/bbv10.js"></script>
<script type="text/javascript" crossorigin src="/anjuke/bb.js"></script>
<script type="text/javascript" crossorigin src="/anjuke/Member_Web_Login_Form.js"></script>
<script type="text/javascript">

    $(function() {
        new ajk.Login();
    });
</script>
<script>
    ;(function(){
        ajk.Logger.setSite('anjuke');
        ajk.Logger.setPage('Member_Web_Login_FormPage');
        ajk.Logger.setPageName('Member_Web_Login_FormPage');
        ajk.Logger.setCtid('');
        var sojData = {
            'customparam':'{}'
        }
        ajk.Logger.sendSoj(sojData);
    })();
</script>
<!-- START: 性能测试监控 -->
<script>
    $(function(){
        var v = "1501241237",
            src = "//pages.anjukestatic.com/prism/performance.js?v="+v;
        $.ajax({
            url: src,
            dataType: "script",
            cache:true,
            success: function(){
                window.perfConfig = {
                    pageName : 'Member_Web_Login_FormPage',
                    siteName : 'ershoufang'
                };
            }
        });
    });
</script>
<!-- END: 性能测试监控 -->

<!-- 初始化曝光 -->
<script>
    $(function(){
        ajk.exposure = new ajk.Logger.Exposure({
            site:'anjuke-exposure-npv',
            page:'Member_Web_Login_FormPage',
            pageName:'Member_Web_Login_FormPage',
            NGuid:'',
            NUid:''
        });
        ajk.exposure.add($('[data-trace]'));
    });
</script>

<script type="text/javascript">
    (function(param){
        var c = {query:[], args:param||{}};
        c.query.push(["_setAccount","8"]);//固定参数
        (window.__zpSMConfig = window.__zpSMConfig||[]).push(c);
        var zp = document.createElement("script"); zp.type = "text/javascript"; zp.async = true;
        zp.src = ("https:" == document.location.protocol ? "https:" : "http:") + "//cdn.zampda.net/s.js";
        var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(zp, s);
    }) (window.__zp_tag_params);
</script>



<!-- 58反爬虫js -->
<script type="text/javascript">
    var xxfwConfig = {namespace:'anjuke_login_pc'};
</script>
<script src="https://j1.58cdn.com.cn/resource/xxzl/xxfw/xxfw.min.js" async defer></script>

<script>
    (function(){
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https'){
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        }
        else{
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<script type="text/javascript">
    var userId = '0';
    var isTest = /test/.test(document.domain)||/dev/.test(document.domain);
    var appId = 6322339781814;
    var projectId ='6289197098934';
    var progectKey ='3kxpt7yb';
    if(isTest){
        appId = 6296943323570;
        projectId = '6289210146098';
        progectKey = 'w65br84t';
    }
    window.WMDA_SDK_CONFIG = ({
        api_v: 1,
        sdk_v: 0.1,
        mode: 'report',
        appid: appId,
        key: progectKey,
        project_id: projectId,
        // cookie_domain: document.domain,   //58域下不需要该字段
        cate_id: '',   //按需填写
        page_extra: [{   //按需填写
            key: 'pagename',
            value: 'Member_Web_Login_FormPage'
        },{
            key: 'city_id',
            value: '16'
        }],
        user_extra: [{   //按需填写
            key: 'guid',
            value:'1216DEF2-8B33-B218-F0C8-934E8919D17B'
        }],
        channel: '',   //按需填写
        getUserId: function() {
            return userId;
        }
    });
</script>
<script type="text/javascript" src="//pages.anjukestatic.com/usersite/site/js/wmda_statistic_20190218.js" async defer></script>
</body>
</html>
